@model BLL.DTO.MarkDTO

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Изменить</title>
	<link href="~/css/style.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>
	@Html.Partial("~/Views/nav.cshtml")
	<div class="wrap">
	@using (Html.BeginForm()) {
		<label>Выберите студента</label>
		<br />
		@Html.DropDownListFor(model => model.StudentId, ViewBag.Students as SelectList)
		<br />
		<label>Выберите предмет</label>
		<br />
		@Html.DropDownListFor(model => model.SubjectId, ViewBag.Subjects as SelectList)
		<br />
		@Html.LabelFor(model => model.Score, "Оценка")
		<br />
		@Html.TextBoxFor(model => model.Score, new{required="required"})
		<br />
		<input type="submit" value="Изменить">
	}
	</div>
</body>
</html>