@using BLL.DTO;
@model StudentDTO;

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Изменить</title>
	<link href="~/css/style.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>
	@Html.Partial("~/Views/nav.cshtml")
	<div class="wrap">
	@using (Html.BeginForm()) {
		@Html.LabelFor(m => m.Surname, "Фамилия")
		<br />
		@Html.TextBoxFor(m => m.Surname, new{required="required"})
		<br />
		@Html.LabelFor(m => m.Name, "Имя")
		<br />
		@Html.TextBoxFor(m => m.Name, new{required="required"})
		<br />
		@Html.LabelFor(m => m.Patronymic, "Отчество")
		<br />
		@Html.TextBoxFor(m => m.Patronymic, new{required="required"})
		<br />
		<input type="submit" value="Изменить" />
	}
	</div>
</body>
</html>